*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 2;
}

.contenitore{
    margin-left: 225px;
}

.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: currentColor;
}
