* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 2.5;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: var(--main-color);
}

.contenitore {
    margin-left: 225px;
    color: var(--color-text-grey);
    height: calc(100vh - 90px);
    overflow-y: auto;
}

.flex {
    display: flex;
}

.only-mobile{
    display: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

hr {
    opacity: 0.5;
    margin: 15px 0;
}


.img{
    display: block;
}


footer{
    background-color: yellow;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0
}