/* NAV COLONNA-SX */
nav.menu-nav a {
    display: block;
}

nav.menu-nav {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px 5px 20px;
    flex-direction: column;
    width: 14.0625rem;
    height: calc(100% - 90px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

nav.menu-nav .logo .only-desktop {
    width: 150px;
    opacity: 1;
    margin-bottom: 20px;
}

nav.menu-nav img {
    vertical-align: middle;
    width: 34px;
    opacity: 0.5;
    margin-right: 10px;
}

nav.menu-nav span {
    font-size: 13px;
}

nav.menu-nav i {
    font-size: 55px;
    vertical-align: middle;
    margin-right: 10px;
}

nav.menu-nav .installa {
    font-size: 12px;
    margin-top: auto;
}

nav.menu-nav .installa img {
    width: 25px;
}

nav.menu-nav .installa img.profile {
    opacity: 1;
    background-color: grey;
    border-radius: 50px;
    width: 30px;
}

nav.menu-nav .installa h3 {
    display: inline;
    color: white;
}

nav.menu-nav .playlist {
    overflow-y: auto;
    font-size: 13px;
}

/* /NAV COLONNA-SX */
/* UPGRADE */
.upgrade {
    background-color: var(--bg-main-fix);
    width: 100%;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
}

button {
    all: unset;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    margin: 20px 30px;
    font-size: 10px;
    border-radius: 510px;
}

/* /UPGRADE */

/* CONTENUTI */
.menu-contenuti {
    text-align: center;
    font-size: 12px;
    padding-top: 82px;
}

.menu-contenuti a {
    padding: 13px;
    line-height: 5;
}

/* /CONTENUTI */

/* BRANI */
.brani {
    margin: 0 20px;
}

.box-brani {
    line-height: 2;
}

.recenti {
    gap: 15px;
}

.box-brani img {
    width: 100%;
}

.artista-brani {
    text-align: center;
    width: 100%;
}

.artista-brani h2 {
    color: white;
    font-size: 12px;
}

.artista-brani h3 {
    font-size: 11px;
}

/* /BRANI */