/* NAV COLONNA-SX */
nav.menu-nav a {
    display: block;
}

nav.menu-nav {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px 5px 20px;
    flex-direction: column;
    width: 14.0625rem;
    height: calc(100% - 90px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

nav.menu-nav .logo .only-desktop {
    width: 150px;
    opacity: 1;
    margin-bottom: 20px;
}

nav.menu-nav img {
    vertical-align: middle;
    width: 34px;
    opacity: 0.5;
    margin-right: 10px;
}

nav.menu-nav span {
    font-size: 13px;
}

nav.menu-nav i {
    font-size: 55px;
    vertical-align: middle;
    margin-right: 10px;
}

nav.menu-nav .installa {
    font-size: 12px;
    margin-top: auto;
}

nav.menu-nav .installa img {
    width: 25px;
}

nav.menu-nav .installa img.profile {
    opacity: 1;
    background-color: grey;
    border-radius: 50px;
    width: 30px;
}

nav.menu-nav .installa h3 {
    display: inline;
    color: white;
}

nav.menu-nav .playlist {
    font-size: 13px;
}
nav.menu-nav .playlist h3{
    color: white;
    font-size: 18px;
    margin-top: 30px;
}

nav.menu-nav .nome-playlist{
    overflow-y: auto;
}
/* /NAV COLONNA-SX */
/* UPGRADE */
.upgrade {
    background-color: var(--bg-main-fix);
    width: 100%;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

button {
    all: unset;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    margin: 20px 30px;
    font-size: 10px;
    border-radius: 510px;
}

/* /UPGRADE */

/* CONTENUTI */
.menu-contenuti {
    text-align: center;
    font-size: 12px;
    padding-top: 82px;
}

.menu-contenuti a {
    padding: 13px;
    line-height: 5;
}

/* /CONTENUTI */

/* BRANI */
.brani {
    margin: 0 20px;
    padding-bottom: 50px;
}


.brani h3 {
    margin-bottom: 30px;
}

.box-brani {
    width: calc((100% - 55px) / 6);
    line-height: 2;
}
.img-brani{
    position: relative;
}

.img-brani i{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 60px;
    color: white;
    display: none;
}

.recenti {
    gap: 15px;
}

.artista-brani {
    text-align: center;
    width: 100%;
}

.artista-brani h2 {
    font-size: 12px;
}

.popolari img {
    border-radius: 50%;
}

/* /BRANI */

/* FOOTER */
footer {
    background-color: var(--footer-color);
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 99;
}

.box{
    width: calc(100% / 3);
}

footer ul {
    list-style: none;
    line-height: 1.2;
    align-items: center;
}

footer .player {
    padding: 0 10px;
    justify-content: space-between;
    height: 90px;
}
/* FOOTER-LEFT */

footer .player-left h2 {
    font-size: 13px;
    margin-bottom: 5px;
}

footer .player-left .img-player {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

footer .player-left .icona-player {
    margin: 0 40px;
    word-spacing: 10px;
    color: var(--color-text-grey);
}
/* /FOOTER-LEFT */
/* FOOTER-CENTER */

footer .player-center {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

footer .player-center ul.flex{
    gap: 25px;
    margin: 10px

}


footer .player-center .fa-regular.fa-circle-play {
    font-size: 30px;
}

footer .player-center .durata{
    width: 100%;
}

footer .player-center .durata .bar{
    margin: 0 15px;
}

footer .time-center {
    width: 430px;
    display: inline-block;
    border: 2px solid var(--bg-space);
    border-radius: 2px;
    margin: 0 20px;
}
/* /FOOTER-CENTER */
/* FOOTER-RIGHT */
footer .player-right{
    justify-content: flex-end;
    gap: 15px;
}

footer .player-right .sound{
    width: 100px;
}

.bar{
    width: 100%;
    height: 2px;
    background-color: var(--bg-space);
    align-self: center;
}

/* FOOTER-RIGHT */
/* FOOTER */

