/* NAV COLONNA-SX */
nav.menu-nav a {
    display: block;
}

nav.menu-nav {
    background-color: black;
    color: var(--color-text-grey);
    padding: 20px;
    flex-direction: column;
    width: 14.0625rem;
    height: 100vh;
    /*CALCOLARE ALTEZZA FOOTER */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

nav.menu-nav img {
    vertical-align: bottom;
    width: 34px;
}

nav.menu-nav i {
    font-size: 34px;
    vertical-align: bottom;
    padding-right: 10px;
}

.installa {
    position: absolute;
    bottom: 0;
    left: 20px;
}

/* /NAV COLONNA-SX */
/* UPGRADE */
.upgrade {
    background-color: var(--bg-main-fix);
    width: 100%;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
}

button {
    all: unset;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    margin: 20px 30px;
    font-size: 10px;
    border-radius: 510px;
}

/* /UPGRADE */

/* CONTENUTI */
.contenuti {
    background-color: var(--main-color);
    height: 100vh;
    /*CALCOLARE ALTEZZA FOOTER */
    padding-top: 82px;
}

.menu-contenuti {
    color: var(--color-text-grey);
    text-align: center;
    font-size: 10px;
}

.menu-contenuti a {
    padding: 25px;
    line-height: 7;
}

/* /CONTENUTI */