
@media screen and (max-width: 992px) {
    .box-brani {
        width: calc((100% - 55px) / 4);
    }

    .recenti {
        flex-wrap: wrap;
    }

    .menu-contenuti a {
        padding: 11px;
    }
}


@media screen and (max-width: 768px) {
    .box-brani {
        width: calc((100% - 55px) / 2);
    }
}

@media screen and (max-width: 575px) {

    nav.menu-nav span,
    nav.menu-nav .playlist,
    nav.menu-nav .nome-playlist,
    nav.menu-nav .installa h3,
    hr {
        display: none;
    }

    nav.menu-nav {
        width: 65px;
    }


    nav.menu-nav .installa img.profile {
        margin-top: 20px;
    }

    nav.menu-nav .only-desktop {
        display: none;
    }

    nav.menu-nav .only-mobile {
        display: inline;
        opacity: 1;
        margin-bottom: 20px;
    }

    .contenitore {
        margin-left: 50px;
    }
}